/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --primary: #B5A1E5;
  --background: #131214;
  --outline: #3E3D40;
  --white: #ffffff;
  --white-alpha-4: #ffffff0a;
  --white-alpha-8: #ffffff14;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

input { width: 100%; }

input[type="search"]::-webkit-search-cancel-button{
  display: none; 
}

button { cursor: pointer; }

html {
  font-family: var(--ff-nunito-sans);
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--white);
  overflow-x: hidden;
  height: 100vh;
}

:focus-visible {
  outline: none;
}

::selection {
  background-color: var(--white);
  color: var(--background);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--outline);
  border-radius: 25px;
}


/*-----------------------------------*\
#HEADER
\*-----------------------------------*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px;
  position: fixed;
  top: 0;
  background-color: var(--background);
  width: 100%;
}

.logo img { width: 175px; }

/**Search section**/
.search-view { 
  position: fixed;
  top: 0;
  left: -1250px;
  height: 100%;
  width: 100%;
  background-color: #1D1C1F;
  z-index: 90000;

  transition: left ease 1.1s;
}
.show-search-view {
  left: 0;
}

.search-wrapper {
  display: flex;
  align-items: center;
  border-bottom: solid var(--white-alpha-8);
  padding: 15px 20px 10px;
  border-radius: 0px 0px 0px 0px;
}

.close-btn {
  display: flex;
  align-items: center;
  height: 58px;
}

.close-btn:active span {
  text-shadow: 0px 0px 4px var(--white);
}

.search-icon {
  display: none;
}

.progress-icon {
  display: none;
  padding: 12px;
  border: solid 3px var(--white);
  border-block-start-color: transparent;
  border-radius: 50%;
  animation: rotation .4s linear infinite;
}

.search-field {
  font-weight: bold;
  padding: 0px 15px;
}

.search-result { 
  display: none; 
}

.result-item {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  cursor: pointer;
  transition: background-color .2s linear;
  gap: 10px;
}
.result-item:hover { 
  background-color: var(--outline); 
}
.result-item:active {
  background-color: transparent;
}
.result-item span {
  font-size: 1.7rem;
  color: #9e9e9e;
  background-color: transparent;
}

.title {
  font-weight: bolder;
}

.subtitle {
  color: #9e9e9e;
  font-weight: 600;
  padding-top: 5px;
}


/**Header buttons**/
.header-actions {
  display: flex;
  gap: 15px;
}

.search-btn,
.location-btn {
  background-color: var(--outline);
  height: 58px;
  width: 58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(100%);
}

.search-btn:active {
  animation: click .3s linear forwards;
}

.location-btn { 
  background-color: var(--primary);
  color: var(--background);
  transition: background-color .08s linear;
}

.location-btn p { display: none; }
.location-active {
  background-color: var(--outline);
  color: var(--white);
  opacity: .5;
  cursor: auto;
}

/**Header animations**/
@keyframes click {
  from { clip-path: circle(20%); }
  to { clip-path: circle(100%); }
}

@keyframes rotation {
  from { transform: rotate(0);}
  to { transform: rotate(360deg);}
}

/**Main section**/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-inline-end: auto;
  gap: 25px;
}

.aside {
  padding: 0px 20px;
}

.main-content {
  overflow-x: hidden;
}

/*-----------------------------------*\
  #CURRENT WEATHER
\*-----------------------------------*/

.main-card {
  padding: 35px 20px;
  background-color: var(--white-alpha-4);
  border-radius: 25px;
  font-weight: bolder;
  box-shadow: 0px 0px 4px var(--white-alpha-8);
}
.main-card h1 { font-size: 1.3rem; }

.weather,
.date,
.location { display: flex; }

.date,
.location { align-items: center; }

.weather p { 
  font-size: 5rem;
  font-weight: 400;
}

.img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrap img {
  height: 80px;
}

.main-card .tag { font-size: 1.1rem; }

hr {
  border: solid .7px #9e9e9e;
  margin: 15px 0px;
}

.date, .location { gap: 10px; }
.date p, .location p { color: #9e9e9e; }
.location { padding-top: 10px;}

/*-----------------------------------*\
  #HIGHLIGHTS
\*-----------------------------------*/
.highlights { 
  padding: 20px;
  margin: 25px 20px 0px;
  background-color: var(--white-alpha-4);
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 0px 0px 3px var(--white-alpha-8);
  /* height: 100%; */
}
.highlights h1 { font-size: 1.3rem; }
.highlights-cards > div {
  background-color: var(--background);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--background);
}
.highlights-cards > div h2 { 
  color: #9e9e9e;
  font-size: 1.1rem;
}
.highlights-cards p {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0;
}

/**Air card**/
.air-card { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.air-card > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.air-index p {
  background-color: #E589B7;
  color: var(--background);
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 500;
}

.air-info { padding-top: 35px;}
.air-info span {
  font-size: 3rem;
}

/**Sunrise sunset card**/
.sunrise-sunset .container {
  display: flex;
  gap: 15%;
}

.sunrise,
.sunset { padding-top: 30px; }

.sunrise .text p:first-child,
.sunset .text p:first-child { 
  color: #9e9e9e;
  padding: 7px 0px;
  font-size: 1rem;
}

.sunrise span,
.sunset span {
  font-size: 2.2rem;
}

/**Feels like**/
.feeling-tmp {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.feeling-tmp span {
  font-size: 2.4rem;
}

/**Humidity**/
.humidity-percent {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.humidity-percent span {
  font-size: 2.4rem;
}

/**Visibility**/
.v-distance {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.v-distance span {
  font-size: 2.4rem;
}


/*-----------------------------------*\
  #HOURLY FORECAST
\*-----------------------------------*/
.today-at { padding: 20px 0px 5px; }
.today-at h1 { 
  font-size: 1.3rem;
  margin-left: 20px;
}
.today-at .hour-list {
  display: flex;
  overflow-x: auto;
  font-weight: bolder;
  gap: 20px;
  padding: 20px 40px 20px 20px;
  margin-right: -20px;
}
.today-at .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 185px;
  width: 135px;
  background-color: var(--white-alpha-4);
  border-radius: 25px;
  box-shadow: 0px 0px 7px var(--white-alpha-8);
  border: 3px solid var(--background);
  font-size: 1.1rem;
}
.today-at img {
  height: 70px;
  width: 70px;
}


/*-----------------------------------*\
  #FORECAST
\*-----------------------------------*/
.forecast h1 {
  padding: 20px 0px;
  font-size: 1.3rem;
}

.forecast-list {
  padding: 10px 20px;
  background-color: var(--white-alpha-4);
  border-radius:25px;
  font-weight: bolder;
  box-shadow: 0px 0px 4px var(--white-alpha-8);
}

.forecast-list .day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.forecast-list .day:not(:last-child) {
  border-bottom: solid 2px #9e9e9e;;
}

.forecast-list .date {
  width: 100%;
}

.forecast-list .info {
  display: flex;
  align-items: center;
  font-weight: bolder;
  gap: 10px;
  width: 100%;
}

.forecast-list img {
  height: 40px;
}

.forecast-list .d-data {
  width: 50%;
  text-align: end;
}

/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/
.loading-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  clip-path: circle(0% at 100% 0)
}

.loading-section::before {
  content: '';
  height: 65px;
  width: 65px ;
  border: solid 5px var(--white);
  border-block-start-color: transparent;
  border-radius: 50%;
  animation: rotate .4s linear infinite;
}

.animate-on-load {
  animation: bubble 3.5s ease;
}

/**loading animations**/
@keyframes bubble {
  0% {
    clip-path: circle(0% at 100% 0);
  }
  50% {
    clip-path: circle(200% at 100% 0);
  }
  100% {
    clip-path: circle(0% at 100% 0)
  }
}

@keyframes rotate {
  from { rotate: 0deg; }
  to { rotate: 360deg; }
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media screen and (min-width: 768px){
  body {
    overflow-y: hidden;
  }

  .search-btn {
    height: 50px;
    width: 50px;
  }
  .location-btn {
    width: 210px;
    height: 50px;
    border-radius: 35px;
    gap: 20px;
  }
  .header-actions .location-btn p {
    display: block;
  }
  
  /**Main content**/
  main {
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding-right: 0px;
  }

  .main-content {
    flex: 1;
    overflow-y: auto;
  }

  .aside {
    width: 45%;
  }

  /**Highlights**/
  .highlights {
    margin: 0px 20px 0px 0px;
  }
  .highlights-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .highlights-cards > div {
    width: 100%;
  }
  .highlights-cards .sunrise,
  .highlights-cards .sunset{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .highlights-cards .feels-like {
    width: 49%;
  }
  .highlights-cards .humidity {
    flex: 1;
    margin-left: 15px;
  }

  /**Hourly forecast**/
  .today-at h1 {
    margin-left: 0px;
  }

  .today-at .hour-list {
    padding-right: 35px;
    padding-left: 3px;
    margin-left: 0px;
  }

  /**Footer**/
  footer {
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 1200px){
  .search-view {
    display: block;
    position: relative;
    left: 0;
    width: 35%;
    background-color: transparent;
  }

  .search-wrapper {
    border: none;
    padding: 0px 20px;
    background-color: #1D1C1F;
    border-radius: 35px;
  }

  .close-btn {
    display: none;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
  }

  .search-field {
    width: 100%;
  }

  .search-result {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #1D1C1F;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-bottom: 25px;
  }

  .result-item {
    padding: 10px 20px;
  }
  .result-item span {
    font-size: 1.3rem;
  }

  .result-list .title {
    font-size: .9rem;
  }

  .result-list .subtitle {
    font-size: .8rem;
    padding-top: 0px;
  }

  .search-btn {
    display: none;
  }

  .aside {
    width: 375px;
  }

  .main-content {
    overflow-y: hidden;
    flex: 1;
  }

  .highlights {
    margin-right: 45px;
  }

  .highlights-cards .air-card {
    width: 49%;
  }
  .highlights-cards .sunrise-sunset {
    flex: 1;
    margin-left: 15px;
  }
  .highlights-cards .feels-like {
    width: 32.5% ;
  }
  .highlights-cards .humidity {
    flex: 1;
  }
  .highlights-cards .visibility {
    flex: 1;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1400px) {
  /**highlights**/
  .highlights .air-info span {
    font-size: 4rem;
  }
  .highlights .feeling-tmp span,
  .highlights .humidity span,
  .highlights .visibility span {
    font-size: 3.1rem;
  }

  .highlights .air-info p {
    font-size: 2.3rem;
  }

  .highlights .sunrise span,
  .highlights .sunset span {
    font-size: 3rem;
  }
  .highlights .sunrise-sunset .time {
    font-size: 2.2rem;
  }

  .highlights .feeling-tmp p {
    font-size: 2.5rem;
  }

  .highlights .humidity p {
    font-size: 2.3rem;
  }

  .highlights .visibility p {
    font-size: 2.3rem;
  }

  footer {
    padding: 0px;
  }
}

@media screen and (min-width: 1639px) {
  .today-at {
    text-align: center;
  }
  .today-at .hour-list {
    justify-content: center;
  }
}
